@charset "utf-8";
/*add this later lol: <a href="https://hewittlearning.org/" target="_blank" rel="noopener"><img src="images/1.jpg" width="20" height="20"></a> */

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Source Sans Pro";
  background: #f9f9f9;
  text-rendering: optimizeLegibility;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

body {
  height: 100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-color: whitesmoke;
  /* get rid of the gradient color background */
  /* background-image: linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      rgb(200 200 200),
      rgb(022 000 045)
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      rgb(250 255 000),
      rgb(036 000 000)
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      rgb(020 175 125),
      rgb(000 010 255)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      rgb(255 077 000),
      rgb(000 200 255)
    ),
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal; */
}

section {
  margin: 100px auto 0 auto !important;
}

nav {
  font-size: 32px;
  margin: 0;
  padding: 1em;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: white;
  background: white;
  text-align: center;
  height: 80px;
}
nav a {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
}
nav a :hover {
  background-color: rgb(119, 70, 119);
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 1em;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: white;
  background: white;
  text-align: center;
  height: 110px;
  padding-top: 0;
  margin: 0;
}

h2 {
  line-height: 32px;
  font-weight: 600;
  margin-top: 32px;
}

h2.sub {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.1px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .main-container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
}

.block {
  display: block;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-center {
  text-align: center;
}

.container {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sub {
  color: gray;
  font-weight: 400;
}

.sub-2 {
  color: #268bd2;
  margin: 0;
}

.btn {
  color: white;
  background: #268bd2;
  border-left: 3px solid #227ab9;
  border-bottom: 4px solid #227ab9;
  border-radius: 6px;
  padding: 9px;
}

.underline,
.underline2 {
  background: #dde2e7;
  width: 50px;
  height: 2px;
  display: block;
  margin: 32px 0 48px 0;
}

.underline2 {
  margin: 20px 0;
}

.underline-d {
  background: #dde2e7;
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.link {
  color: #268bd2;
}

.link:hover {
  text-decoration: underline;
}

li {
  max-width: 550px;
}

header {
  height: 76px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mouveImages {
  height: 200px;
  width: 100px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.row .row-content-4 {
  flex-basis: 25%;
}

@media (max-width: 960px) {
  .row .row-content-4 {
    flex-basis: 50%;
  }
}

.row .row-content {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  flex-basis: 100%;
}

@media screen and (min-width: 960px) {
  .row .row-content {
    flex-basis: 33.333%;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .row .row-content {
    flex-basis: 50%;
  }
}

.row .row-content .project-box {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 100%;
  margin: 10px 0;
  text-align: left;
  background: white;
}

.row .row-content .project-box:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
  transform: translate(0px, -10px);
  z-index: -100000;
}

.row .row-content .project-box .img {
  display: block;
  height: 180px;
  background: red;
  background-position-x: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 360px;
}

.row .row-content .project-box .body {
  padding: 20px;
}

.row .row-content .project-box .body .content {
  min-height:80px;
  height: 80%;
}

.row .row-content .project-box .body .heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.introImg {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.introImg img {
  height: 100px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .introImg img {
    height: 200px;
  }
}

.copyright-date {
  color: black;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  padding: 0.2em;
  color: black;
  background: white;
  text-align: center;
}
