.periodic-table-element {
  color: black;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  display: grid;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  height: 7.7em;
  margin: 0;
}
.periodic-table-element-to-find {
  height: 8em;
  width: 6.1em;
  border-radius: 10px;
}

.theme-dark .periodic-table-element {
  color: white;
}

.periodic-table-element:is(:hover, :focus):not(
    .periodic-table-element-good-click
  ):not(.periodic-table-element-to-find):not(.periodic-table-complete *) {
  transform: scale(1.1);
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(0 0 0 / 35%);
}

.periodic-table-element-symbol {
  font-family: Chemistry, sans-serif;
  font-size: 2.1em;
  letter-spacing: -0.05em; /* Narrowing the letter space created in order to avoid being searched on page */
}

.periodic-table-element-name {
  font-size: 0.9em;
  letter-spacing: -0.05em; /* Narrowing the letter space created in order to avoid being searched on page */
}

.periodic-table-element-atomic-number {
  font-size: 1.1em;
  text-align: left;
  margin: -0.7px 0;
}

.periodic-table-element-to-find {
  cursor: default;
}

.periodic-table-element-advanced {
  /* Text for active element in advanced difficulty */
  font-family: Chemistry, sans-serif;
  font-size: 2em;
  max-width: none;
}

.periodic-table-element-metal {
  /*background: #9abee4;*/
  background:  #E19494;
}
.periodic-table-element-metalloid {
  /*background: #fff980;*/
  background: #E6EED6;
}
.periodic-table-element-nonmetal {
  /*background: #87cc87;*/
  background-color: #C698B1;
}
/*
.periodic-table-element-alkalimetal{
  background:#1999e8;
}

.periodic-table-element-alkalineearthmetal{
  background:#1999e8;
}

.periodic-table-element-actinide{
  background:#1999e8;
}

.periodic-table-element-poly{
  background:#0f0fd3;
}

.periodic-table-element-di{
  background:#08e83c;
}

.periodic-table-element-unknown{
  background:#1999e8;
}

.periodic-table-element-poly{
  background:#08e83c;
}

.periodic-table-element-noblegas{
  background:#08e83c;
}
*/
.theme-dark .periodic-table-element-metal {
  background: #147cbd;
}
.theme-dark .periodic-table-element-metalloid {
  background: #cfac2a;
}
.theme-dark .periodic-table-element-nonmetal {
  background: #417a41;
}
/*
.theme-dark .periodic-table-elements-alkalimetal{
  background:#1999e8;
}

.theme-dark .periodic-table-elements-alkalimetal{
  background:#1999e8;
}
*/
.periodic-table-element-good-click {
  background: black;
  color: white;
  cursor: not-allowed;
}

.theme-dark .periodic-table-element-good-click {
  background: black;
  color: white;
}

.periodic-table-element-bad-click {
  background-color: red;
}

.theme-dark .periodic-table-element-bad-click {
  background-color: #c72222;
  color: white;
}

.periodic-table-complete .periodic-table-element {
  color: transparent;
  cursor: default;
}
.theme-dark .periodic-table-complete .periodic-table-element-good-click {
  background: white;
}

.periodic-table-element-compound-click {
  background-color: rgb(255, 203, 32);
}

.theme-dark .periodic-table-element-compound-click {
  background-color: orange;
}