.match-text-bad {
  color: #de0c0c;
}
.theme-dark .match-text-bad {
  color: #ff4c4c;
}
.match-text-good {
  color: #0a1f10;
}
.theme-dark .match-text-good {
  color: #41ae41;
}

.character-choose-image{
  width: 50px;
  margin-left: 0em;
  height: 50px;
  display: block;
  max-width: 90%;
  grid-area: image;
}

.feedback {
  font-size: 0.6em;
  text-align: bottom;
  grid-area: feedbacks;
  position: absolute;
  bottom: 0em;
}

.element-and-feedback {
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: center;
  grid-area: element;
}

.match-text-score-description {
  grid-area: score-desc;
  font-family: 'Lucida Grande',sans-serif;
  text-align: center;
  font-size: 0.7em;
}

.clock-elements {
  right: 0em;
  bottom: 0em;
  height: 2.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: absolute;
}

.clock-toggle {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 0px;
  aspect-ratio: 1;
  height: 100%;
  border: none;
  cursor: pointer;
  align-self: auto;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.clock-icon {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  align-self: auto;
  justify-content: left;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.clock-text {
  font-size: 0.75em;
}

.time-elements {
  background-color: black;
  width: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  bottom: 0.5em;
  right: 2.5em;
  position: absolute;
}

.time-icon{
  background-color: blue;
  color: green;
  width: 100%;
  border-radius: 10px;
  padding: 1%;
  height: 6px;
  justify-content: bottom;
}

.time-text{
  bottom: -1em;
  right: 14.5em;
  text-align: right;
  justify-content: bottom;
  position: absolute;
  align-items: center;
  border-radius: 10px;
}

.score-element {
  background-color: black;
  width: 30%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  top: 0.5em;
  right: 2.5em;
  position: absolute;
}

.score-bar{
  background-color: yellow;
  color: green;
  width: 0%;
  border-radius: 10px;
  padding: 1%;
  height: 6px;
  justify-content: bottom;
}

.score-text{
  top: -1em;
  right: 14.5em;
  text-align: right;
  justify-content: bottom;
  position: absolute;
  align-items: center;
  border-radius: 10px;
}

.third-Column:nth-child(){
  margin-bottom: 5px;
}

.Modal{
  display: none;
  position: fixed;
  z-index: 2;
  height: 50%;
  width: 50%;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Modal-content{
  background-color: rgb(0, 204, 255);
  color:#4cffab;
  display: flex;
  align-items: center;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  border-color: black;
  font-family: 'Lucida Grande',sans-serif;
}

#congrats-Modal{
  width:20 rem;
}

#Modal-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#congrats-Modal-Image{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: block;
  max-width: 90%;
}

.third-Column{
  display: flex;
  flex-direction: column;
}

.game-info {
  font-family: Soliloquous, sans-serif;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  background: #e7e7e7;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 70px 1fr 1fr 60px;
  grid-template-areas:
    "image element score-desc"
    "image feedbacks score-desc";
  grid-column: 3 / span 10;
  grid-row: 1 / span 3;
  gap: 0;
  margin: 0.5em;
  margin-top: 0;
  margin-bottom: 5px;
  align-items: center;
}

.theme-dark .game-info {
  background: #3f3f3f;
}

.end-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.end-screen-image{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  display: block;
  max-width: 90%;
}

.user-guess {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
}

.user-guess label {
  grid-column: span 2;
}

.text-box {
  font-size: 1.3em;
  padding: 0.8em;
}
