.match-text-bad {
  color: #de0c0c;
}
.theme-dark .match-text-bad {
  color: #ff4c4c;
}
.match-text-good {
  color: #0a1f10;
}
.theme-dark .match-text-good {
  color: #41ae41;
}

.feedback {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 0.6em;

}

.element-and-feedback {
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: element;
}

.match-text-score-description {
  grid-area: score-desc;
  font-family: 'Lucida Grande',sans-serif;
  text-align: center;
  font-size: 0.7em;
}

.clock-elements {
  right: 0em;
  bottom: 0em;
  height: 2.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: absolute;
}

.clock-toggle {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  padding: 0;
  aspect-ratio: 1;
  height: 100%;
  border: none;
  cursor: pointer;
  align-self: auto;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.clock-icon {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  align-self: auto;
  justify-content: left;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.clock-text {
  font-size: 0.75em;
}

.char-icon{
  width: 5.0em;
  height: 5.0em;
  position:inherit;



}

.current-icon{
  width: 5.0em;
  height: 5.0em;
}

.time-elements {
  /* right: 0em;
  bottom: 0em;
  height: 2.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: absolute; */
  background-color: black;
  width: 50%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  right: 0em;
  top: 0em;
  position: absolute;
  /* justify-content: end; */
}

.time-icon{
  /* fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  align-self: auto;
  justify-content: left;
  color: black;
  /* transition-property: transform, box-shadow, background-color; 
  transition-duration: 0.3s;
  transition-timing-function: ease; */
  background-color: blue;
  color: green;
  /* width: 70%; */
  width: 90%;
  border-radius: 15px;
  padding: 1%;
  height: 6px;
  justify-content: bottom;
  animation: progress;
  animation-duration: 10s;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to{
    width: 0%;
  }
}

.game-info {
  font-family: Soliloquous, sans-serif;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "element ."
    "element score-desc";
  grid-column: 3 / span 10;
  grid-row: 1 / span 3;
  gap: 0.5em;
  margin: 1em;
  padding: 3em;
  align-items: center;
}

.theme-dark .game-info {
  background: #3f3f3f;
}

.end-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-guess {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
}

.user-guess label {
  grid-column: span 2;
}



.text-box {
  font-size: 1.3em;
  padding: 0.8em;
}



