:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background: #e2cccc;
}

body.theme-dark {
  background: #2a2c2d;
  color: white;
}

@font-face {
  font-family: Soliloquous;
  src: url("/fonts/ccsoliloquous-regular.woff2") format("woff2"),
    url("/fonts/ccsoliloquous-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: Soliloquous;
  src: url("/fonts/ccsoliloquous-bold.woff2") format("woff2"),
    url("/fonts/ccsoliloquous-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Soliloquous;
  src: url("/fonts/ccsoliloquous-italic.woff2") format("woff2"),
    url("/fonts/ccsoliloquous-italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Soliloquous;
  src: url("/fonts/ccsoliloquous-bolditalic.woff2") format("woff2"),
    url("/fonts/ccsoliloquous-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: sans-serif;
}
