.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, minmax(0, 1fr));
  gap: 0.7em;
  min-width: 100em;
  font-size: clamp(10px, calc(0.5vw + 5px), 16px);
  padding: 2em;
}

.box-text {
  font-family: Soliloquous, sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.box-element {
  margin: 0 auto;
}

.match-text-good {
  color: green;
}

.match-text-bad {
  color: red;
}

.match-text {
  font-family: Soliloquous, sans-serif;
  font-size: 1.1em;
  text-align: center;
  margin: 0 auto;
}

.game-info {
  
  background: white;
  grid-column: 3 / span 6;
  grid-row: 1 / span 3;
  margin: 2em;
  padding: 2em;
  font-size: clamp(10px, calc(0.5vw + 5px), 16px);
  min-width: 9em;
}
