.periodic-table-element {
  background: white;
  display: grid;
  border: 1px solid black;
  padding: 0.5em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.periodic-table-element:hover:not(.periodic-table-element-good-click) {
  transform: scale(1.1);
}

.periodic-table-element-symbol {
  font-size: 2.3em;
}

.periodic-table-element-name {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}

.periodic-table-element-atomic-number {
  font-size: 1.2em;
}

.periodic-table-element-metal {
  background: #9abee4;
}

.periodic-table-element-metalloid {
  background: #fff980;
}

.periodic-table-element-nonmetal {
  background: #87cc87;
}

.periodic-table-element-good-click {
  background: black;
  color: white;
  cursor: not-allowed;
}

.periodic-table-element-bad-click{
  background-color: red;
  /* animation-name: bad-click;
  animation-duration: 0.75s; */
}
/* 
@keyframes bad-click {
  from {background:red};
} */
